/* Image Upload Styling */
.product-images {
    display: flex; /* Creates automatic inline and wrapping */
    flex-wrap: wrap;
    justify-content: center;

}

.product-images img {
    width: 121px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    border: 1px black solid;
    flex: flex-shrink;
}

.card-body #files {
    padding-bottom: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#submit {
    background-color: rgb(46, 171, 230);
    display: block;
    color: white;
    padding: 10px 10px 10px 10px;
}