/* Margin on all Card Classes */
.card {
    margin-top: 10px;
}

/* Top Searchbar */
.logo-search-box .someClass {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.logo-search-box #logo {
    font-size: 1.75em;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding-right: 30px;
}

.logo-search-box .input-group {
    align-content: flex-start;
}

.logo-search-box select {
    border-radius: 0px 0px 0px 0px;
}

/* Product Title */
.card-header {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.card img {
    width: 100%;
}

/* Horizontal Divider */
hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Sidebar */
.sidebar #seller-info {
    padding-bottom: 15px;
}

.sidebar .card-body {
    padding-bottom: 5px;
    padding-top: 13px;
}

.sidebar #place-expression {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}