{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bids.css')}}">
{% endblock %}

{% block content %}
<br>

<!-- Top Quick View with Title and Image -->
<div class="container">
    <div class="card shadow-sm">
        <div class="item-view-container">
            <img src="{{url_for('static', filename='img/cougarpc.jpg')}}">
            <div id="body">
                <div id="item-title">Item Title</div>
                <a href="item.html"><u>View Original</u></a>
            </div>
        </div>
    </div>
    <br>

    <!-- Main body card -->
    <div class="card shadow-sm bids-card">
        <div class="card-body">
            <div id="title">User Offers</div>
            <div id="subtitle">Below is a list of users interested in your product including their contact information so you may select a buyer. If you have sold your item, select the checkbox of the user you sold the item to, then click Mark as Sold. It's as easy as that!</div>
            
            <!-- User Offers List -->
            <ul class="list-group input-group">
                <li class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <!-- Side Checkbox-->
                        <div class="col-1">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                        <!-- User info -->
                        <div class="col-11">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">BigJohnno</h5>
                                <small>8:09PM 24/3/2019</small>
                            </div>
                            <small class="mb-1"><b>Email:</b> johnny956@gmail.com</small><br>
                            <small class="mb-1"><b>Phone Number:</b> 038472322487</small>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <!-- Side Checkbox-->
                        <div class="col-1">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                        <!-- User info -->
                        <div class="col-11">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">BigJohnno</h5>
                                <small>8:09PM 24/3/2019</small>
                            </div>
                            <small class="mb-1"><b>Email:</b> johnny956@gmail.com</small><br>
                            <small class="mb-1"><b>Phone Number:</b> 038472322487</small>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <!-- Side Checkbox-->
                        <div class="col-1">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                        </div>
                        <!-- User info -->
                        <div class="col-11">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">BigJohnno</h5>
                                <small>8:09PM 24/3/2019</small>
                            </div>
                            <small class="mb-1"><b>Email:</b> johnny956@gmail.com</small><br>
                            <small class="mb-1"><b>Phone Number:</b> 038472322487</small>
                        </div>
                    </div>
                </li>
            </ul>


            <br>
            <!-- Activate Modal Button -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Mark as Sold
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Confirm your sale</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="buyer-info">
                                <!-- Sale Price -->
                                <div class="input-group mb-3" id="sale-price">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Sold Price</span>
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Item Sold Price">
                                </div>
                                <!-- Date Sold -->
                                <div class="input-group mb-3" id="date-sold">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Date Sold</span>
                                    </div>
                                    <input class="form-control" type="date">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Mark As Sold</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}