{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/createitem.css')}}">
{% endblock %}

{% block content %}
    {% import "bootstrap/wtf.html" as wtf %}
    <div class="container">
        <br>
        <br>
        <h1><center>Sell Your Computer!</center></h1>
        <p><center>To sell your computer, fill out the forms below, a short description, a couple photos and you are already done!</center></p>
        <br>
        <form action="/item/create" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-md-6">
                    <!-- General Item Information -->
                    <div class="card shadow-sm">
                        <div class="card-body">
                            {{wtf.form_field(form.name)}}
                            {{wtf.form_field(form.category)}}
                            {{wtf.form_field(form.price)}}
                            {{wtf.form_field(form.suburb)}}
                            {{wtf.form_field(form.state)}}
                        </div>
                    </div>
                    <br>

                    <!-- Item Description Input -->
                    <div class="card shadow-sm">
                        <div class="card-body">
                            {{wtf.form_field(form.description)}} 
                        </div>
                    </div>
                    <br>
                    {{wtf.form_field(form.submit)}}
                </div>

                <!-- Sidebar Image Upload -->
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            {{ wtf.form_field(form.image)}}
                        </div>
                    </div>
                    <br>
                    <!-- Computer Specifications Input -->
                    <div class="card shadow-sm">
                        <div class="card-body">
                            {{wtf.form_field(form.cpu)}} 
                            {{wtf.form_field(form.ramgb)}} 
                            {{wtf.form_field(form.totalgb)}} 
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </form>
{% endblock %}