{% extends 'base.html' %}

{% block header %}
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <!-- Search Bar and Top Image -->
    <div class="main">  
        <div class="jumbotron">
            <h1 class="display-4 jumbotron-text">COMPUBAY</h1>

            <!-- Search Bar -->
            <form action="/search" class="input-group" method="GET">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="search-icon">&#x1F50D;</span>
                </div>
                <input type="text" name="searchKeywords" id="search-bar" class="form-control" placeholder="Search for anything" aria-label="Search" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <select class="custom-select" name="searchCategory">
                        <option selected value="Desktop">Dekstop</option>
                        <option value="Laptop">Laptop</option>
                        <option value="All In One">All In One</option>
                    </select>
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>  
    <br><br>

    <!-- Popular Items -->
    <div class="container most-popular">
        <h2><center>MOST POPULAR ITEMS</center></h2>
        <div class="row">
            {% for listing in listings %}
                <div class="col-md-3">
                    <div class="card shadow-sm">
                        <a href="item.html" style="background-image: url('{{url_for('static', filename=('img/listings/' + listing.image))}}');"></a>
                        <div class="card-body">
                            <h6 class="card-title"><a href="item.html">{{ listing.name }}</a></h6>
                            <p>{{ listing.suburb }}, {{ listing.state }} - ${{ listing.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}