{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/item.css')}}">
{% endblock %}

{% block content %}

<br>
<div class="container">
    <!-- Top Searchbar -->
    <div class="row justify-content-center">
        <div class="card col-md-10 logo-search-box">
            <div class="card-body">
                <div class="someClass">
                    <div id="logo">
                        COMPUBAY
                    </div>
                    <form action="/search" class="input-group" method="GET">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="search-icon">&#x1F50D;</span>
                        </div>
                        <input type="text" name="searchKeywords" id="search-bar" class="form-control" placeholder="Search for anything" aria-label="Search" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <select class="custom-select" name="searchCategory" id="searchCategory">
                                <option selected value="Desktop">Dekstop</option>
                                <option value="Laptop">Laptop</option>
                                <option value="All In One">All In One</option>
                            </select>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Item -->
    <div class="row">
        <br><br>
        <div class="col-md-8">
            <div class="card shadow-sm">
                <h5 class="card-header">{{listing.name}}</h5>
                <img src="{{url_for('static', filename=('img/listings/' + listing.image))}}">
                <div class="card-body">
                    <!-- Item Description -->
                    <p class="card-text">{{listing.description}}</p>                           
                </div>
            </div>
        </div>
        <br><br>

        <!-- Sidebar Information -->
        <div class="col-md-4">
            <div class="card sidebar shadow-sm">
                <div class="card-body" id="seller-info">
                    <h5 class="card-title">{{seller.username}}</h5>
                    <p class="card-text"><b>Mobile Number: </b>{{seller.phone}}</p>
                </div>
                <hr>
                <div class="card-body">
                    <h5 class="card-title">Details</h5>
                    <ul>
                        <li><b>Item Location: </b>{{listing.suburb}}</li>
                        <li><b>Category: </b>{{listing.category}}</li>
                        <li><b>CPU: </b>{{listing.cpu}}</li>
                        <li><b>RAM: </b>{{listing.ramgb}}GB</li>
                        <li><b>Total Storage: </b>{{listing.totalgb}}GB</li>
                        <li><b>Price: </b>${{listing.price}}</li>
                    </ul>
                </div>
                {% if listing.seller_id != current_user.id and listing.sold_id == []%}
                    <hr>
                    <div class="card-body">
                        <form method="POST" action="/item/{{listing.id}}">
                            <button type="submit" id="place-expression" class="btn btn-success">Place Expression</button>
                        </form>
                    </div>
                {% elif listing.sold_id != None and listing.seller_id != current_user.id %}
                <hr>
                <div class="card-body">
                    <button id="place-expression" class="btn btn-warning">Sold</button>
                </div>
                {% endif %}
                <div class="card-footer">
                    <small class="text-muted">Posted {{ listing.post_date.strftime("%d/%m/%Y") }}</small> <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}