{% extends 'base.html' %}
<!-- import wtf forms -->
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
{% endblock %}

{% block content %}

<br>
<br>
<h2 class="text-center">{{heading}}</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="alert-info">{{ message }}</li>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- Center the form submit button -->
<style>
    #submit {display: block; margin: 0 auto; color: #ffffff; background-color: #2eabe6;}
</style>

<div class="container col-sm-6">
    {{wtf.quick_form(form)}} 
</div>    

<!-- Show link to register when form has loaded -->
{% if heading|lower =='login' %}
<div class="container col-sm-6 text-center">
    <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register now</a>.</p>
</div>
{% endif %}

{% endblock %}