{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bids.css')}}">
{% endblock %}

{% block content %}
<br>

<!-- Top Quick View with Title and Image -->
<div class="container">
    <br><br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">My Past Listings</h5>
            <h6 class="card-subtitle mb-2 text-muted"> <a href="listings">View Current Listings</a></h6>  
        </div>
    </div>
    <br>

    <!-- Main body card -->
    <div class="card shadow-sm bids-card">
        <div class="card-body">
            {% set past_listings = db.engine.execute("SELECT listings.name, sale_price, date, users.username, users.phone, users.email, listings.id FROM listings JOIN sold ON listings.id = sold.item_id JOIN users ON users.id = sold.buyer_id") %}
            {% if past_listings == [] %}
                <center><h2>You havent sold any listings yet... Come back here once you have :)</h2></center>
            {% else %}
                <!-- User Past Listings -->
                <ul class="list-group input-group">
                    {% for listing in past_listings %}
                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">
                                <!-- Listing Info -->
                                <div class="col-10">
                                    <div class="d-flex w-100 justify-content-between">
                                        <a href="/item/{{ listing.id }}/bids"><h5 class="card-title">{{ listing.values()[0] }}</h5></a>
                                    </div>
                                    <small class="mb-1"><b>Price:</b> ${{ listing.values()[1] }}</small><br>
                                    <small class="mb-1"><b>Sold To:</b> {{ listing.values()[3] }}</small><br>
                                    <small class="mb-1"><b>Email:</b> {{ listing.values()[5] }}</small><br>
                                    <small class="mb-1"><b>Phone Number:</b> {{ listing.values()[4] }}</small>
                                </div>
                                <div class="col-2">
                                    <small>Sold On <br> {{ listing.values()[2] }}<br> <a href="/item/{{listing.values()[6]}}">View Listing</a></small>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}