{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bids.css')}}">
{% endblock %}

{% block content %}
<br>

<!-- Top Quick View with Title and Image -->
<div class="container">
    <br><br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">My Past Listings</h5>
            <h6 class="card-subtitle mb-2 text-muted"> <a href="listings">View Current Listings</a></h6>  
        </div>
    </div>
    <br>

    <!-- Main body card -->
    <div class="card shadow-sm bids-card">
        <div class="card-body">
            {% if listings.sold_id == [] %}
                <center><h2>You havent sold any listings yet... Come back here once you have :)</h2></center>
            {% else %}
                {% for past_listings in listings %}
                    <!-- User Past Listings -->
                    <ul class="list-group input-group">
                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">
                                <!-- Listing Info -->
                                <div class="col-10">
                                    <div class="d-flex w-100 justify-content-between">
                                        <a href="/item/{{ listing.id }}/bids"><h5 class="card-title">{{ listing.name }}</h5></a>
                                    </div>
                                    <small class="mb-1"><b>Price:</b> ${{ listing.price }}</small><br>
                                    <small class="mb-1"><b>Sold To:</b> {{ users.email }}</small><br>
                                    <small class="mb-1"><b>Email:</b> {{ users.username }}</small><br>
                                    <small class="mb-1"><b>Phone Number:</b> {{ users.phone }}</small>
                                </div>
                                <div class="col-2">
                                    <small>Sold On <br> {{ sold.date }}<br> <a href="#">View Listing</a></small>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}