{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
{% endblock %}

{% block content %}
<br>
<div class="container">
    <!-- Top Searchbar -->
    <div class="row justify-content-center">
        <div class="card col-md-10 logo-search-box">
            <div class="card-body">
                <div class="someClass">
                    <div id="logo">
                        COMPUBAY
                    </div>
                    <form action="/search" class="input-group" method="GET">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="search-icon">&#x1F50D;</span>
                        </div>
                        <input type="text" name="searchKeywords" id="search-bar" class="form-control" placeholder="Search for anything" aria-label="Search" aria-describedby="basic-addon1">
                        <div class="input-group-append">
                            <select class="custom-select" name="searchCategory" id="searchCategory">
                                <option selected value="Desktop">Dekstop</option>
                                <option value="Laptop">Laptop</option>
                                <option value="All In One">All In One</option>
                            </select>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% if listings == [] %}
        <center><h2>Oh no... No results for {{ search }} found!</h2></center>
    {% else %}    
        {% for listing in listings %}
        <div class="card mb-3 item-result" style="width: 100%">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="item-picture" style="background-image: url({{url_for('static', filename='img/corsairpc.jpg')}})"></div>
                </div>
                <div class="col-md-6" class="search-container">
                    <div class="card-body">
                        <a href="item/{{ listing.id }}"><h5 class="card-title">{{ listing.name }}</h5></a>
                        <p><b>Price: </b> ${{ listing.price }} <b>Type: </b>{{ listing.category }}</p>
                        <p class="card-text">{{ listing.description }}</p>
                    </div>
                </div>
                <div class="col-md-2" class="search-container">
                    <div class="card-body">
                        <small class="text-muted">Posted {{ listing.post_date.strftime("%d/%m/%Y") }}</small>
                        <small class="text-muted">{{ listing.suburb }}, {{ listing.state }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    
    <br>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    2
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}